<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.durga.studybuddy">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bookjpg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bookjpg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginPage" />
        <activity
            android:name=".hiii"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".about_pict" />
        <activity android:name=".website" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.durga.studybuddy.MainActivity" />

        <activity android:name=".Notes" />
        <activity android:name=".Timetable" />
        <activity android:name=".schedule" />
        <activity android:name=".academicCal" />
        <activity android:name=".expensePlanner" />
        <activity android:name=".teachersInfo"></activity>
    </application>

</manifest>